* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

/* Sticky Header */
.sticky__header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 20px -3px rgba(0, 0, 0, 0.1);
  z-index: 999;
  transition: 0.3s ease;
  animation: topToBottom 0.3s;
}

@keyframes topToBottom {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}


/* Hide Scroll Bar */
.hide-scroll::-webkit-scrollbar {
  display: none;
}